/*
background-color: transparent; bakgrundsfärgen är genomskinlig.
color: white;: textfärgen för element inuti navbar är vit.
padding: 10px; lägger till 10 pixlar med inre marginal.
display: flex; använder CSS Flexbox för att göra innehållet horisontellt.
align-items: center; vertikalcentrerar innehållet inuti nav-baren.
position: fixed; fixerar navigationsbaren i fönstret, så att den stannar kvar högst upp även när man skrollar.
top: -30px; flyttar navigationsbaren något ovanför synliga området. 
width: 100%; navigationsbaren sträcker sig över hela bredden av sidan.
z-index: 100; ställer in lagerordningen så att navigationsbaren hamnar ovanför andra element.
box-shadow: 0 2px 4px transparent; skapar en skugga som är osynlig. 
*/
.navbar {
  background-color: transparent;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: -30px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px transparent;
}

/*
font-size: 1.5rem; ställer in textstorleken för logotypen till 1.5 rem (vilket motsvarar 1.5 gånger standardtextstorleken).
font-weight: bold; gör texten fet.
color: black; gör  textfärgen svart.
text-decoration: none; tar bort standard-understrykningen för länkar.
*/
.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/*
list-style: none; tar bort punktlistan från ul eller ol.
display: flex; arrangerar navigationslänkarna horisontellt med Flexbox.
margin: 0; och padding: 0; tar bort standardmarginaler och padding från listan.
*/
.navbar-center .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/*
margin-right: 10px; skapar ett mellanrum till höger om varje lista-element, vilket separerar länkarna.
*/
.navbar-center .nav-links li {
  margin-right: 10px;
}

/*
color: black; gör länkarna svarta.
text-decoration: none; tar bort understrykning på länkarna.
font-size: 14px; ställer in textstorleken till 14 pixlar.
font-weight: bold; gör texten fet.
*/
.navbar-center .nav-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

/*
text-decoration: underline; understryker länken när man hovrar över den.
*/
.navbar-center .nav-links a:hover {
  text-decoration: underline;
}

/*
display: flex; arrangerar innehållet i navbar-right horisontellt.
align-items: center; vertikalcentrerar innehållet.
*/
.navbar-right {
  display: flex;
  align-items: center;
}
